<%include ../partials/headerRecalls %>

<div class="upper">	
			<table class="stay">
			<tr>
				<td>
				<table>
					<tr>
						<td class="colorSqI">&nbsp</td>
						<td>Class I: Dangerous or defective products that predictably could cause serious health problems or death.</td>
					</tr>
					<tr>
						<td class="colorSqII">&nbsp</td>
						<td>Class II: Products that might cause a temporary health problem, or pose only a slight threat of a serious nature.</td>
					</tr>
					<tr>
						<td class="colorSqIII">&nbsp</td>
						<td>Class III: Products that are unlikely to cause any adverse health reaction, but that violate FDA labeling or manufacturing laws. </td>
					</tr>
					</table>
				</td>
				<td>
				<div class="searchform">
				<h2 id="lookUp">Pick Your Poison, Dear</h2>

		  
				 <form id="searchForm" action="/search" method="POST">
					 <label for="foodType">
					<input type="checkbox" name="search" value="foodType" id="foodType">  Type of Food  </label>
					 <label for="location">
					<input type="checkbox" name="search" value="location" id="location">  Distribution Area  </label>
					 <label for="date">
					<input type="checkbox" name="search" value="date" id="dateRange">  Date Range  </label>
					<input class="invertBtn" type="submit" value="Submit">
					</form>
				</div>
				</td>
				</tr>
			</table>

</div>

<div class="wrap">


	<div class="scrollSide">


		<% recalls.forEach(function(recall){%>
		<!-- Change the date format -->
		<% var dateStr = recall.report_date; %>
		<% var match = dateStr.match(/(\d{4})(\d{2})(\d{2})/); %>
		<% var dateFormat = match[2] + '/' + match[3] + '/' + match[1]; %>
		<!-- What to display-->
		<!-- Base color off of danger classification -->
		<% if(recall.classification==='Class I'){%>
		<div class="classI">
			<%} %>
			<% if(recall.classification==='Class II'){%>
			<div class="classII">
				<%} %>
				<% if(recall.classification==='Class III'){%>
				<div class="classIII">
					<%} %>

					<p class="prodDesc"><%= recall.product_description %></p>
					<p> <em><%= recall.recalling_firm %></em></p>
					<p><%= dateFormat %></p>
					<p><%= recall.reason_for_recall %></p>
					<form class="showMore" action="javascript:void(0)" >
						<input type="hidden" name="recall[desc]" class="product_description" value="<%= recall.product_description %>"> 
						<input type="hidden" name="recall[reason]" class="reason_for_recall" value="<%=recall.reason_for_recall%>"> 
						<input type="hidden" name="recall[dist]" class="distribution_pattern" value="<%=recall.distribution_pattern%>" >
						<input type="hidden" name="recall[firm]" class="recalling_firm" value="<%=recall.recalling_firm%>"> 
						<input type="hidden" name="recall[date]" class="report_date" value	="<%=dateFormat%>"> 
						<input type="hidden" name="recall[class]" class="classification" value	="<%=recall.classification%>"> 
						<input class="invertBtn" type="submit" value="Map Distribution, Dear">
					</form>
					<div >
	
						<!-- <p><%= recall.distribution_pattern %>.</p> -->

						<table>
							<tr>
								<td>
									<form class="showLess" action="/recalls"><input class="invertBtn" type="submit" value="Remove"></form>
								</td>
								<td>
									<form class ="saveRecall" action="/myRecalls" method="POST"><input class="invertBtn" type="submit" value="+ Recalls"></form>
								</td>
							</tr>
						</table>
					</div>
			
				</div>
				<% }) %>
			</div>
			<div class="mapSide">
				
				<div id="map-canvas">MAP</div>
				<!-- including twitter feed of recent recalls -->
				<a class="twitter-timeline" href="https://twitter.com/search?q=%23recall%20food" data-widget-id="614247041103872000">Tweets about food #recall(s)</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

		</div>

		<%include ../partials/footer %>
