<% include ../partials/headerSearch %>
<div class="fruitstrip">
	<div class="ui inverted">
		<h2>Comments</h2>
		<%  myRecall.comments.forEach(function(comment) { %>
			<div>
				<p>	<strong><%= comment.content%></strong></p>
				<p class="comment">--Originally commented on <%= comment.date %> by <%= user.firstName%></p>
				
			  <form action="/myRecalls/:myRecall_id/comments/<%= comment._id%>?_method=DELETE" method="POST">
		    <input type="submit" value="Delete" class="ui inverted blue button">
		  </form>
			<hr>
		</div>
		<% }) %>
		<p>
			<a href="/myRecalls/<%= myRecall.id %>/comments/new"><div class="ui inverted blue button">New Comment</div></a>
			<a href="/myRecalls/<%= myRecall.id %>"><div class="ui inverted blue button">Return to Recall Information</div></a>
			<a href="/myRecalls"><div class="ui inverted blue button">All Saved Recalls</div></a>
		</p>

		<a href="/signup">	<div class="ui inverted teal button">Signup</div></a>
		<a href="/login"><div class="ui inverted teal button">Login</div></a>
		<a href="/logout"><div class="ui inverted teal button"> Logout</div></a>
		</div>
	</div>

<% include ../partials/footer %>