<% include ../partials/headerRecalls %>
<div class="ui inverted form">
    <h2 style="text-align:center">Edit Account User Information</h2> 
    <div class="dropIn" id="profile">
   
    <form method="POST" action="/myAccount/<%= user.id %>?_method=PUT">
      <div>
        <label for="firstName">First Name: <br/>   
          <input type="text" name="user[firstName]" value="<%= user.firstName %>" autofocus>
        </label>
      </div>
        <div>
        <label for="lastName">Last Name:  <br/>  
          <input type="text" name="user[lastName]" value="<%= user.lastName %>">
        </label>
      </div>
      <div>
        <label for="user">Email:    <br/>
          <input type="text" id="email" name="user[email]" value="<%= user.email %>">
        </label>
      </div>
 <!--   TODO EDIT PASSWORD
    <div>
        <label> Password: 
          <input type="password" id="pass" name="user[password]">
         </label>
      </div> -->
    <!-- THIS FEATURE DOESN'T MAKE A WHOLE LOT OF SENSE 
      <div>
        <label> Edit profile picture (URL):
        <input type="text" name="user[avatar]" value="<%= user.avatar %>">
        </label>
      </div> -->
     
        <input class="invertBtn" type="submit" value="Edit">
   
    </form>
    </div>
    </div>
  </div>
<% include ../partials/footer %>