<% include ../partials/headerSearch %>
<div class="fruitstrip">
<div class="ui inverted form">
    <h1>Edit Account User Information</h1>
    <div id="profile">
    <form method="POST" action="/myAccount/<%= user.id %>?_method=PUT">
      <div>
        <label for="firstName">Edit First Name:    
          <input type="text" name="user[firstName]" value="<%= user.firstName %>" autofocus>
        </label>
      </div>
        <div>
        <label for="lastName">Edit Last Name:    
          <input type="text" name="user[lastName]" value="<%= user.lastName %>">
        </label>
      </div>
      <div>
        <label for="user">Edit Email:    
          <input type="text" id="email" name="user[email]" value="<%= user.email %>">
        </label>
      </div>
 <!--   TODO EDIT PASSWORD
    <div>
        <label> Password: 
          <input type="password" id="pass" name="user[password]">
         </label>
      </div> -->
      <div>
        <label> Edit profile picture (URL):
        <input type="text" name="user[avatar]" value="<%= user.avatar %>">
        </label>
      </div>
      <div class="navBtn">
        <input type="submit" value="Edit">
      </div>
    </form>
    </div>
    <div class="navBtn"><a href="/login">Have an account? Login in instead</a></div>
    </div>
  </div>
<% include ../partials/footer %>